<div class="mb-50">
  <div class="container-content" *ngIf="track">
    <mat-card>
      <div fxFlex="100" fxLayout="row" class="text-center">
        <div class="paid">
          <mat-icon class="check">check_circle_outline</mat-icon>
          <h1>Transaction Successful!</h1>
          <h2 style="color: #616161">Thank you</h2>
          <hr />
          <h2>
            Order Number: <span>{{ track }}</span>
          </h2>
          <a [routerLink]="['/home']" mat-button>
            <mat-icon class="back">west</mat-icon>BACK TO HOME
          </a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
