.paid {
  width: 80%;

  h1 {
    font-weight: 500;
    color: #696969;
  }

  span {
    color: #1e90ff;
  }

  a {
    color: #6495ed;
  }

  .check {
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: #46a35e;
  }

  .back {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
}
