.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background: url("../../../../../assets/img/backgroud-watch.png") no-repeat
    center center;
  background-size: cover;
  z-index: -100;
}

.rgba-stylish-strong {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.7);
}

mat-toolbar {
  color: #fff;
  background: inherit;
}

mat-nav-list {
  .active {
    color: #00bfff;
  }

  a {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;

    mat-icon {
      margin-right: 15px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
