.no-cart {
  width: 480px;
  margin: 0 auto;

  img {
    width: 300px;
    height: auto;
  }

  h2 {
    color: #dc143c;
  }

  a {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #fff;
    background-color: #1e90ff;
  }
}

@media (max-width: 380px) {
  .no-cart {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .no-cart {
    width: 100%;
  }
}
