<div class="view">
  <div class="rgba-stylish-strong"></div>
</div>

<div class="login-form">
  <mat-card>
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content fxflex="100">
      <form [formGroup]="loginForm" (submit)="onLogin()">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" autofocus />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>

        <div class="btn-login">
          <button
            type="submit"
            mat-button
            [class.spinner]="loading"
            [disabled]="loading"
          >
            Log In
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<simple-notifications></simple-notifications>
