<div class="info-bar">
  <div class="row text-center">
    <div class="col">
      <div class="bar-icon">
        <img src="../../../../assets/img/free-shipping.png" alt="Services" />
      </div>
      <div class="bar-caption">
        <h5>Fast & Free Delivery</h5>
        <p>Free delivery on all orders</p>
      </div>
    </div>

    <div class="col">
      <div class="bar-icon">
        <img src="../../../../assets/img/guarantee.png" alt="Services" />
      </div>
      <div class="bar-caption">
        <h5>Warranty</h5>
        <p>1-year warranty</p>
      </div>
    </div>

    <div class="col">
      <div class="bar-icon">
        <img src="../../../../assets/img/cash.png" alt="Services" />
      </div>
      <div class="bar-caption">
        <h5>Money back Guarantee</h5>
        <p>100% money back guarantee</p>
      </div>
    </div>

    <div class="col">
      <div class="bar-icon">
        <img src="../../../../assets/img/24-hours.png" alt="Services" />
      </div>
      <div class="bar-caption">
        <h5>Online Support 24/7</h5>
        <p>Call us: 086-657-7599</p>
      </div>
    </div>
  </div>
</div>

<div class="footer-area">
  <div class="row d-flex justify-content-between">
    <div class="col-1 mb-35">
      <div class="footer-title mb-35">
        <mat-icon>watch</mat-icon>
        <span>timetrend</span>
      </div>

      <div class="footer-descrption mb-35">
        นาฬิกาข้อมือตัวเครื่องญี่ปุ่น ระบบโครโนกราฟที่มีความแม่นยำสูง กันน้ำ 3
        ATM นาฬิกาสุดเท่ ใส่ได้ทุกวัย ดีไซน์ทันสมัยสวยงาม
      </div>

      <div class="menu-social">
        <a href="https://www.facebook.com/timetrendofficial" target="_blank">
          <mat-icon class="icon">facebook</mat-icon>
        </a>
      </div>
    </div>

    <div class="col-2 mb-35">
      <div class="footer-heading">
        <h4>shop category</h4>
        <ul>
          <li><a [routerLink]="['shop']">Shop</a></li>
          <li><a [routerLink]="['shop/megirm']">Megir M</a></li>
          <li><a [routerLink]="['shop/megirw']">Megir W</a></li>
          <li><a [routerLink]="['shop/cadisen']">Cadisen</a></li>
          <li><a [routerLink]="['shop/ruimas']">Ruimas</a></li>
        </ul>
      </div>
    </div>

    <div class="col-2 mb-35">
      <div class="footer-heading">
        <h4>information</h4>
        <ul>
          <li><a [routerLink]="['home']">Home</a></li>
          <li><a [routerLink]="['track']">Order track</a></li>
          <li><a [routerLink]="['contact']">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="col-2 mb-35">
      <div class="footer-heading mb-35">
        <h4>Customer Service</h4>
        <ul>
          <li>
            <mat-icon>call</mat-icon>
            <span>086-257-8989</span>
          </li>
          <li>
            <mat-icon>facebook</mat-icon>
            <span>timetrendofficial</span>
          </li>
          <li>
            <mat-icon>email</mat-icon>
            <span>timetrend@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom-area">
  <div class="container">
    <div class="footer-copy-right">
      <p>© 2020 TimeTrend. All Rights Reserved.</p>
    </div>
  </div>
</div>
