.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.active {
  color: dodgerblue;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.mat-list-item {
  padding-left: 16px !important;
}

a {
  display: contents;
  text-decoration: none;
}

hr {
  width: 75%;
  margin-top: -5px;
  border: 2px solid darkslateblue;
}
